<!-- Start Container-->
<div class="container">
	<!-- row -->
	<div class="row">



		<!-- =========================================
                           SIDEBAR   
            ==========================================-->
		<!-- Start Sidebar -->
		<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
			<!--  Sidebar row -->
			<div class="row">
				<!--  top section   -->
				<div class="heading">
					<!-- ====================
                                      IMAGE   
                            ==========================-->
					<div class="feature-img">
						<a href="index.html"><img ng-src="{{CVInfo.personalInfo.pic}}" class="responsive-img" alt=""></a>
					</div>
					<!-- =========================================
                                       NAVIGATION   
                            ==========================================-->
					<div class=" nav-icon">
						<nav>
							<div class="nav-wrapper">
								<ul id="nav-mobile" class="side-nav">
									<li><a href="index.html">Resume</a></li>
									<li><a href="project.html">Projects</a></li>
									<li><a href="cover-latter.html">Cover Latter</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
								<a href="index.html#" data-activates="nav-mobile" class="button-collapse  "><i class="mdi-navigation-menu"></i></a>
							</div>
						</nav>
					</div>
					<!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
					<div class="title col s12 m12 l9 right  wow fadeIn" data-wow-delay="0.1s">
						<h2>{{CVInfo.personalInfo.name}}</h2>
						<!-- title name -->
						<span>{{CVInfo.personalInfo.title}}</span>
						<!-- tagline -->
					</div>
				</div>
				<!-- sidebar info -->
				<div class="col l12 m12 s12 sort-info sidebar-item">
					<div class="row">
						<div class="col m12 s12 l3 icon">
							<!-- icon -->
							<i class="fa fa-user"></i>
						</div>
						<div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
							<!-- text -->
							<div class="section-item-details">
								<p>{{CVInfo.personalInfo.bio}}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- MOBILE NUMBER -->
				<div class="col l12 m12 s12  mobile sidebar-item">
					<div class="row">
						<div class="col m12 s12 l3 icon">
							<i class="fa fa-phone"></i>
							<!-- icon -->
						</div>
						<div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s">
							<div class="section-item-details">
								<div class="personal">
									<h4><a href="tel:{{CVInfo.personalInfo.mobile}}">{{CVInfo.personalInfo.mobile}}</a></h4>
									<!-- Number -->
									<span>mobile</span>
								</div>
								<div class="work" ng-show="CVInfo.personalInfo.workPhone">
									<h4><a href="tel:{{CVInfo.personalInfo.workPhone}}">{{CVInfo.personalInfo.workPhone}}</a></h4>
									<!-- Number -->
									<span>work</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  EMAIL -->
				<div class="col l12 m12 s12  email sidebar-item ">
					<div class="row">
						<div class="col m12 s12 l3 icon">
							<i class="fa fa-envelope"></i>
							<!-- icon -->
						</div>
						<div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
							<div class="section-item-details">
								<div class="personal">
									<h4><a href="mailto:{{CVInfo.personalInfo.email}}">{{CVInfo.personalInfo.email}}</a></h4>
									<!-- Email -->
									<span>personal</span>
								</div>
								<div class="work" ng-show="CVInfo.personalInfo.workEmail">
									<h4><a href="mailto:{{CVInfo.personalInfo.workEmail}}">{{CVInfo.personalInfo.workEmail}}</a></h4>
									<!-- Email -->
									<span>work</span>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ADDRESS  -->
				<div class="col l12 m12 s12  address sidebar-item ">
					<div class="row">
						<div class="col l3 m12  s12 icon">
							<i class="fa fa-home"></i>
							<!-- icon -->
						</div>
						<div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
							<div class="section-item-details">
								<div class="address-details">
									<!-- address  -->
									<h4>{{CVInfo.personalInfo.street}} <span>({{CVInfo.personalInfo.floor}})</span><br>
                                            {{CVInfo.personalInfo.zone}}<br>
                                            <span>{{CVInfo.personalInfo.postal}}</span></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- SKILLS -->
				<div class="col l12 m12 s12  skills sidebar-item">
					<div class="row">
						<div class="col m12 l3 s12 icon">
							<i class="fa fa-calendar-o"></i>
							<!-- icon -->
						</div>
						<!-- Skills -->
						<div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
							<h3>Professional Skills </h3>

							<div ng-repeat="skill in CVInfo.skills">
								<span>{{skill.name}}</span>
								<div class="progress">
									<div class="determinate"> {{skill.score}}% </div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
		</aside>
		<!-- end sidebar -->

		<div ui-view name="pageContent"></div>

	</div>
</div>